<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="display-comic">
      {{#model}}
        <h2><a href="{{_id}}">{{title}}</a></h2>
        <div class="">
          Company: {{company}}
        </div>
        <div class="">
          Issue Number: {{issueNumber}}
        </div>
        <h4>Guest Characters</h4>
        <form class="" action="/hero/{{_id}}" method="post">
          <input type="text" name="hero" value="" placeholder="Add Hero">
          <input type="submit" name="" value="Add Hero">
        </form>
        <form class="" action="/villian/{{_id}}" method="post">
          <input type="text" name="villian" value="" placeholder="Add Villian">
          <input type="submit" name="" value="Add Villian">
        </form>
      {{/model}}
    </div>
  </body>
</html>
